.vscode

update.bat
RtScreen.bat
monitor.bat
backupDB.bat

_unused
Test
GateController
help_docs
html/help
html/_uload_snapshot.php
html/backup_html.sh
html/cosilanstatus.php
html/download.php
html/view_snapshot.php
html/gateControl.php
html/gateControl
html/test

bin/__pycache__
bin/genLic.py
bin/patch.py
bin/patch096.py
bin/query_db.py
bin/queryDB.py
bin/release.py
bin/repair_db.py

bin/custom_db.sql
bin/sqlite2json_param.py





